version: 2

updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
      reviewers:
          - "ShellXploit"
      versioning-strategy: increase
      groups:
          production-dependencies:
              dependency-type: "production"
          development-dependencies:
              dependency-type: "development"
      commit-message:
          # This ensures security updates trigger patch releases
          prefix: "fix"
          prefix-development: "chore"
          include: "scope"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      reviewers:
          - "ShellXploit"
